@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@300;400&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Projects
        4.4 Services
        4.5 Contact
        4.6 Footer
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --purple: #5722CD;
  --blue: #4845E4;
  --lightred: #ED4385;
  --black: #0C0C0C;
  --lightpurple: #F2F0FF;
  --lightgray: #F3F6F9;
  --gray: #7A7A7A;
}

body {
    font-family: Roboto, sans-serif ;
    font-weight: 300;
    font-size: 20px;
}


/* ------------------------------- 2. Typography ----------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather, sans-serif;
}

h1 {
    font-size: 3rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;

}
/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.dev {
    border: 2px solid red;
}

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.inner-container {
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 20px;
}


/* --------------- 3.2 Other --------------------------- */
a,
a:visited,
a:link {
    text-decoration: none;
    color: var(--purple);
}

button {
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    background-color: var(--lightred);
    border-radius: 50px;
    border: none;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, .16);
    padding: 20px 40px;
    margin: 20px 0;
}

button:hover {
    cursor: pointer;
}
/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    background-color: var(--blue);
    color: white;
    padding: 20px 0;
    position: relative;
}

.hero-section__navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.hero-section__navbar ul {
    flex-basis: 400px;
    flex-shrink: 1;
    flex-grow: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-section__navbar a {
    color: white;
}

.hero-section__content {
    text-align: center;
    font-size: 26px;
    padding: 100px 0;
    margin-bottom: 100px;
}

.header__squiggle {
    background-image: url(./../assets/squiggle_line_stripe.svg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80px;
    height: 100px;
    margin: 0 0 -20px 0;
    align-self: flex-end;
    position: absolute;
}

/* --------------- 4.2 Introduction ------------------- */
#introduction-section {
    background-color: white;
    color: var(--purple);
    text-align: center;
    padding: 10px;
}

#introduction-section h4 {
    margin: 10px;
    padding: 6px;
}
.intro__link {
    color: var(--black);
    margin-top: 100px;
    font-size: 16px;
}
/* --------------- 4.3 Projects ------------------- */

#projects-section{
    background-color: var(--lightgray);
}
.work-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 20px 20px;
    gap: 20px;
}

.work-article:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.work-article__imagewrapper {
    flex-basis: 600px;
    flex-grow: 0;
    flex-shrink: 1;
}

.work-article__imagewrapper img {
    width: 100%;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.16);
}

.work-article__blurb {
    flex-basis: 400px;
    flex-shrink: 0;
    flex-grow: 0;
}

.work-article__title-squiggle {
    margin-top: 24px;
    width: 60px;
    height: 6px;
    background-image: url(./assets/squiggle_line.svg);
}

.work-article__blurb p {
    font-weight: 400;
    margin: 50px 0;
}

.work-article__project-link {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* --------------- 4.4 Services ------------------- */
#services-section {
    background-color: white;
}

#services-section > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 40px 0 40px 0;
}

.service-article {
    display: flex;
    flex-direction: column;
    flex-basis: 380px;
    flex-grow: 0;
    flex-shrink: 1;
    border: 1px solid var(--purple);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .16);
    color: var(--gray);
    padding: 20px;

}

.service-article__title {
    color: var(--purple);
    font-size: 20px;
}

.service-article__icon {
    width: 100px;
}

/* --------------- 4.5 Contact ------------------- */
#contact-section {
    padding: 100px 20px;
    background-color: var(--purple);
    color: white;
    position: relative;
}

.contact__form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    gap: 20px;
}

.contact__form input,
.contact__form textarea {
    background-color: white;
    color: var(--gray);
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    padding: 20px;
    width: 100%;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder{
    color: var(--gray);
}

.contact__form label {
    padding: 20px 0;
}

.contact__form button {
    width: 200px;
    align-self: center;
}

/* --------------- 4.6 Footer ------------------- */
#footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
}
/* ------------------------------- 5. Media Queries -------------------------------- */

@media screen and (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }

    .hero-section__navbar {
        justify-content: center;
    }

    .hero-section__navbar a {
        font-size: 14px;
        font-weight: 300;;
    }

    .work-article:nth-of-type(odd),
    .work-article {
        flex-direction: column;
        margin: 0;
    }

    .work-article__imagewrapper {
        flex-basis: auto;
    }

    .work-article__blurb {
        flex-basis: auto;
    }
}